body {
    margin: 0;
    overflow-y: hidden;
}
#file_content {
    width: 100vw;
    height: calc(100vh - 10.5rem);
    max-height: initial;
}

.mce-edit-area.mce-container.mce-panel.mce-stack-layout-item {
    height: calc(100vh - 20.5rem);
}
.mce-edit-area > iframe { 
    height: calc(100vh - 143px) !important; 
    max-height: calc(100vh - 288px) !important; 
}

select.file-format {
    font-size: 0.8rem;
    width: calc(43.75vw - 9rem) !important;
}

.mce-flow-layout {
    white-space: inherit !important;
}

#input_html_file {
    display: none;
}

.mce-content-body hr {
    padding: 1px;
    background-color: black;
}
@font-face {
            font-family: 'Saitamaar';
            src: url('fonts/Saitamaar.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
			font-display: swap;
        }

.Saitamaar {
  font-family: "Saitamaar";
  white-space: pre;
  font-size: 16px;
  line-height: 18px;
}

.aa {
  font-family: 'Saitamaar', 'ＭＳ Ｐゴシック', 'MS PGothic', 'IPAMonaPGothic' !important;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
